<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<persistence xmlns="https://jakarta.ee/xml/ns/persistence"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/persistence https://jakarta.ee/xml/ns/persistence/persistence_3_2.xsd"
  version="3.2">
  <!--JTA -> container does everything EntityManager related, EM can only be accessed when a transaction is in progress-->
  <persistence-unit name="gamertrack" transaction-type="JTA">
    <properties>
      <property name="jakarta.persistence.schema-generation.database.action"
        value="drop-and-create"/>
      <property name="hibernate.show_sql" value="false"/>
      <property name="hibernate.format_sql" value="false"/>
    </properties>
  </persistence-unit>

  <!--    <persistence-unit name="payroll" transaction-type="JTA">
          <jta-data-source>java:app/Payroll/MyDS</jta-data-source>

      </persistence-unit>-->
</persistence>
