name: Release Containerimage

on:
  push:
    branches:
      - dev
  workflow_dispatch:

jobs:
  build-test-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        name: checkout

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn clean install

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build Docker Image and Push to GHCR
        run: |
          docker tag gamertrack-war:latest ghcr.io/gepardec/gepardec-gamertrack:${GITHUB_REF#refs/heads/}
          docker push ghcr.io/gepardec/gepardec-gamertrack:${GITHUB_REF#refs/heads/}